body {
    background-image: url(/images/wallpaper.jpg);
    font-family: 'Tahoma';
}

.center {
    text-align: center;
}

a {
	font-size: 20px;
}

select {
  width: 25%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#flex-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

#sfondo-testi {
	display: inline-flex;
    font-size: 20px;
    font-family: 'Tahoma';
    background-color: white;
    max-width: 35%;
    text-align: left;
    margin: 1% 9px;
    margin-left: 20px;
    height: 100%;
    box-sizing: border-box;
    border: 3px solid rgb(99, 5, 17);
    border-radius: 4px;
}

#flex-testo{
    margin-left: 20px;
    margin-right: 50px;
}

#img-container{
	display: inline-flex;
	margin-top: 1%;
}

.img-item{
	max-width: 510px;
	max-height: 680px;
}

input[type=text2] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text2]:focus {
  width: 100%;
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 180%;
  padding: 20px;
  width: 35%;
  line-height: 200%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonFooter {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonFooter span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonFooter span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonFooter:hover span {
  padding-right: 25px;
}

.buttonFooter:hover span:after {
  opacity: 1;
  right: 0;
}

header {
    background: no-repeat left/cover url(/images/oscar1.jpg);
    display: flex;
    height: 200px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Tahoma', cursive,
        fantasy;
    margin: 2%;

}

footer {
    border-top-style: outset;
    margin-top: 2em;
    display: flex;
	align-items: center;
}
	
span.input {width: 30%;}