body {
    background-image: url(/images/wallpaper.jpg);
    font-family: 'Tahoma';
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

header {
    background: no-repeat left/cover url(/images/oscar1.jpg);
    display: flex;
    height: 200px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Tahoma', cursive,
        fantasy;
    margin: 2%;

}

#flex-container {
	display: flex;
	align-items: flex-start;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.flex-item { 
	transform: skew(-20deg); 
	flex-grow: 1;
	height: 100%;
	text-align: center;
	line-height: 45px;
	font-size: 150%;
	font-family: Arial, Helvetica, sans-serif;
}

#img-container{
	display: flex;
	height: 600px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
}

.img-item{
	align-items: center;
	flex-grow: 1;
}

#img1{
	background: no-repeat left/cover url(/images/amore-e-psiche.jpg);
}

#img2{
	background: no-repeat left/cover url(/images/Gioconda.jpg);
}

#img3{
	background: no-repeat left/cover url(/images/Ninfee.webp);
}

#img4{
	background: no-repeat left/cover url(/images/vangogh-girasoli.jpg);
}

#color1 {
	background-color: LimeGreen;
}

#color2 {
	background-color: Coral;
}

#color3 {
	background-color: MediumPurple;
}


footer {
    border-top-style: outset;
    margin-top: 2em;
	}
	
span.input {width: 30%;}