<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.areaPersonale})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body class="center">
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div id="sfondo-testi">
	    <div id="flex-testo">
			<div th:replace="fragments/base.html :: DettagliPersona"></div>
	
			<div th:if="!${utente.commenti.empty}">
				<h4 style="font-size:17px">I tuoi commenti:</h4>
						<div th:each="commento : ${utente.commenti}">
							<ul><li>
							<strong th:text="${commento.film.titolo}">Titolo Film Recensito</strong>
					   		<br><span th:text="${commento.testo} ">Testo</span> 
								<ul><li>
									<a th:href="@{'/deleteCommento' + '/' + ${commento.id}}">Rimuovi commento</a>
								</li></ul>
							</li></ul>
						</div>
			</div>
	    </div>
	</div>
	
	<div th:replace="fragments/base.html :: logoutPersonale"></div> 
	
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>