<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.areaPersonale})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<div th:replace="fragments/base.html :: DettagliPersona"></div>
	
	<div th:if="!${utente.commenti.empty}">
		<strong>I tuoi Commenti:</strong>
				<div th:each="commento : ${utente.commenti}">
			   		<a  th:text="${commento.testo} ">Testo</a> 
						<ul><li>
							<a th:href="@{'/deleteCommento' + '/' + ${commento.id}}">Rimuovi commento</a>
						</li></ul>
				</div>
	</div>
	
	<div th:replace="fragments/base.html :: logoutPersonale"></div> 
	
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>