<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.index})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
		<h2>Dettagli artista:</h2>
   	    	<div th:if="${artista}" th:object="${artista}">
   	    
   	    <strong> Nome: </strong> <span th:text="${artista.nome}"> Nome </span><br>
		<strong> Cognome: </strong> <span th:text="${artista.cognome}"> Cognome</span><br>
		<strong> Data di nascita: </strong> <span th:text="${artista.dataNascita}"> Data Nascita</span><br>
		<strong> Nazionalita': </strong> <span th:text="${artista.nazionalita}">  Nazionalita'</span><br>
		<div th:if="${artista.dataMorte}">
			<strong> Data morte: <span th:text="${artista.dataMorte}"> Data Morte</span></strong><br>
		</div>
			<div th:unless="${artista.dataMorte}">Artista in vita</div>
		<ul>
			<li>
				<div th:if="!${artista.categorieVinte.empty}"> 
					<strong>Ecco tutte le categorie che ha vinto:</strong>
						<div th:each="categoria : ${artista.categorieVinte}">
							<a th:href="@{'/categoriaA' + '/' + ${categoria.id}}" 
        						th:text="|${categoria.nome} ${categoria.edizione.anno}|">Nome anno</a><br>
        				</div>
        		</div>
        	</li>
			
			<div th:if="!${artista.filmRecitati.empty}">
				<li>
					<strong>Film in cui ha recitato:</strong>
						<div th:each="film : ${artista.filmRecitati}">
							<a th:href="@{'/film' + '/' + ${film.id}}" 
        						th:text="${film.titolo}">Titolo</a><br>
        				</div>
        		</li>
        	</div>
       		 <div th:if="!${artista.filmDiretti.empty}"> 
				 <li>	
					<strong>Film che ha diretto:</strong>
						<div th:each="film : ${artista.filmDiretti}">
							<a th:href="@{'/film' + '/' + ${film.id}}" 
        						th:text="${film.titolo}">Titolo</a><br>
        				</div>
        		</li>
       		</div>
        	<div th:if="!${artista.filmRealizzati.empty}"> 
				 <li>	
					<strong>Film in cui ha lavorato:</strong>
						<div th:each="film : ${artista.filmRealizzati}">
							<a th:href="@{'/film' + '/' + ${film.id}}" 
        						th:text="${film.titolo}">Titolo</a><br>
        				</div>
        		</li>
        	</div>
		</ul>
	    
	    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>