<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.artistaDelete})"> </head>
<body class="center">
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Seleziona quale artista rimuovere:</h4>
	</div>
	<form th:action="@{/deleteArtista}" method="POST" th:object="${artisti}">	
			<div>
				<select name='artistaId'>
    				<option th:each="artista : ${artisti}" th:value="${artista.id}" th:text="|${artista.nome} ${artista.cognome}|">
    				</option>
				</select>
			</div><br>
			<button class="button" 
						style="width: 10%; line-height: 100%; font-size: small" 
						type="submit"><span>Invio</span></button>
			</div>
		</div>
	</form>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>