<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.index})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="center">
	<form th:action="@{/artisti}" method="POST">
	
		<h2>Ricerca un artista:</h2>
		<form th:action="@{/artisti}" method="POST">
        	<input type='text' name='cognome' placeholder='Inserisci il nome o il cognome' /><br>
		</form>
        
	</form>
	</div>
	<div><ul>
    	<h2>Artisti:</h2>
			<li th:each="artista : ${artisti}">
				<a href="artista.html" 
				   th:href="@{'/artista' + '/' + ${artista.id}}" 
				   th:text="|${artista.nome} ${artista.cognome}|">Nome Cognome</a>
			</li>
	</ul></div>
	    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>