<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.categoriaArtistaDelete})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Selezione quale categoria rimuovere</h4>
	</div>
	<form th:action="@{/deleteCategoriaArtista}" method="POST" th:object="${categoriaArtista}">	
	
			<div>
				<span>Categoria:</span>
				<select name='categoriaArtistaId'>
    				<option th:each="categoriaArtista : ${categorieArtisti}" th:value="${categoriaArtista.id}" 
    						th:text="|${categoriaArtista.nome} ${categoriaArtista.edizione.anno}|">
    				</option>
				</select>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>