<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.categoriaFilmDelete})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Selezione quale categoria rimuovere</h4>
	</div>
	<form th:action="@{/deleteCategoriaFilm}" method="POST" th:object="${categoriaFilm}">	
	
			<div>
				<span>Categoria:</span>
				<select name='categoriaFilmId'>
    				<option th:each="categoriaFilm : ${categorieFilm}" th:value="${categoriaFilm.id}"
    						th:text="|${categoriaFilm.nome} ${categoriaFilm.edizione.anno}|">
    				</option>
				</select>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>