<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.categoriaArtista})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div id="sfondo-testi">
		<div id="flex-testo">
			<div>
		    	<h1 th:text="|${categoriaArtista.nome} ${categoriaArtista.edizione.anno}| + ':'"></h1>
			</div>
			<div th:if=${categoriaArtista.vincitore}>
				<h4>Vincitore categoria:</h4>
				<ul><li>
					<a href="artista.html" th:href="@{'/artista' + '/' +${categoriaArtista.vincitore.id}}" 
									   th:text="|${categoriaArtista.vincitore.nome} ${categoriaArtista.vincitore.cognome}|">Nome Cognome</a>
				</li></ul>
			</div>
			<div th:unless=${categoriaArtista.vincitore}>
				<div th:if="${admin}"> 
					<ul><li>
						<a th:href="@{'/addVincitoreToCategoriaA' + '/' + ${categoriaArtista.id}}">Aggiungi un vincitore a questa categoria</a>
					</li></ul>
				</div>
			</div>
					 
		    <h4>Candidati categoria:</h4>
		    <ul>
		    	<li th:each="candidato : ${categoriaArtista.candidati}">
		    		<a href="artista.html" th:href="@{'/artista' + '/' + ${candidato.id}}" 
		    							   th:text="|${candidato.nome} ${candidato.cognome}|">Nome Cognome</a>
				</li>
				<div th:if="${admin}"> 
					<ul><li>
						<a th:href="@{'/addCandidatoToCategoriaA' + '/' + ${categoriaArtista.id}}">Aggiungi un candidato a questa categoria</a>
					</li></ul>
				</div>
		    </ul>
		</div>
	</div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>