<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.index})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<div>
    	<h1>Categorie:</h1>
		<div th:each="categoria : ${categorieFilm}">
			<form th:action="@{'/categoriaFilm' + '/' + ${categoria}}" method="GET">
        		<button class="button" style="vertical-align:middle"><span th:text="${categoria}">Nome</span></button><br>
			</form>
		</div>
		<div th:each="categoria : ${categorieArtisti}">
			<form th:action="@{'/categoriaArtista' + '/' + ${categoria}}" method="GET">
        		<button class="button" style="vertical-align:middle"><span th:text="${categoria}">Nome</span></button><br>
			</form>
		</div>
	</div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>