<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.edizione})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body class="center">
	<header th:replace="fragments/base.html :: intestazione"></header>	
	<div id="sfondo-testi" style="width: 35%;">
		<div id="flex-testo">
	    	<h2 th:text="'Edizione ' + ${edizione.anno}"></h2>
			<strong style="font-size:18px">Presentatore: </strong><a th:href="@{'/artista' + '/' + ${edizione.presentatore.id}}"
					th:text="|${edizione.presentatore.nome} ${edizione.presentatore.cognome}|"> </a><br>
			<strong style="font-size:18px">Luogo: </strong><span style="font-size:18px" th:text="${edizione.luogo}" /> <br><br>
		</div>
	</div>
	<h2>Categorie:</h2>
	<div th:each="categoria : ${edizione.categorieFilm}">
		<form th:action="@{'/categoriaF' + '/' + ${categoria.id}}" method="GET">
        	<button class="button" style="vertical-align:middle", "font-size:10px"><span th:text="${categoria.nome}">NomeCategoriaFilm</span></button><br>
		</form>
	</div>
	<div th:each="categoria : ${edizione.categorieArtisti}">
		<form th:action="@{'/categoriaA' + '/' + ${categoria.id}}" method="GET">
        	<button class="button" style="vertical-align:middle"><span th:text="${categoria.nome}">NomeCategoriaArista</span></button><br>
		</form>
	</div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>