<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.index})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<div>
    	<h2 th:text="'Edizione ' + ${edizione.anno}"></h2>
		<div th:each="categoria : ${edizione.categorieFilm}">
			<form th:action="@{'/categoriaFilm' + '/' + ${categoria.id}}" method="GET">
        		<button class="button" style="vertical-align:middle"><span th:text="${categoria.nome}">Nome</span></button><br>
			</form>
		</div>
		<div th:each="categoria : ${edizione.categorieArtisti}">
			<form th:action="@{'/categorieArtisti' + '/' + ${categoria.id}}" method="GET">
        		<button class="button" style="vertical-align:middle"><span th:text="${categoria.nome}">Nome</span></button><br>
			</form>
		</div>
	</div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>