<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.index})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="center">
	
	<h2>Ricerca un film:</h2>
		<form th:action="@{/film}" method="POST">
        	<input type='text' name='titolo' placeholder='Inserisci il titolo' /><br>
		</form>
       
	</div>
	<div><ul>
    	<h1>Film:</h1>
			<li th:each="film : ${films}">
				<a href="film.html" 
				   th:href="@{'/film' + '/' + ${film.id}}" 
				   th:text="${film.titolo} ">Titolo</a>
			</li>
		</ul></div>
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>