<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.index})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<form th:action="@{/edizioni}" method="GET">
        <button class="button" style="vertical-align:middle"><span>Edizioni </span></button><br>
	</form>
	<form th:action="@{/categorie}" method="GET">
        <button class="button" style="vertical-align:middle"><span>Categorie </span></button><br>
	</form>
	<form th:action="@{/film}" method="GET">
        <button class="button" style="vertical-align:middle"><span>Film </span></button><br>
	</form>
	<form th:action="@{/artisti}" method="GET">
        <button class="button" style="vertical-align:middle"><span>Attori e Registi </span></button><br>
	</form>
	
	<div th:if="${utente}"> 
		<div th:replace="fragments/base.html :: logout"> </div>
	</div>
	<div th:unless="${utente}"> 
		<div th:replace="fragments/base.html :: login"></div> 
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>