<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.loginForm})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h1 class="center">Login:</h1>
	</div>
	<form th:action="@{/login}" method="POST">
		<div class="center">
		
			<span><input name="username" type="text" placeholder="username" required/></span><br>
			
			<span><input name="password" type="password" placeholder="password" required/></span><br>
			
			<div>
				<button class="buttonFooter" style="vertical-align:middle" type="submit"><span>Login</span></button>
			</div>
		</div>
	</form>
	<div class="center">
	<h2>Vuoi creare un nuovo account?</h2>
	<form th:action="@{/registrazione}" method="GET">
        		<button class="buttonFooter" style="vertical-align:middle"><span>Registrati</span></button><br>
	</form>
	</div>
    <footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>