<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.registraUtente})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="center">
    	<h1 class="center">Registrazione:</h1>
	<form th:action="@{/registrazione}" method="POST">
            <span><input type="text" placeholder="username" required
                       th:field="${credenziali.username}"/></span>
            <span th:if="${#fields.hasErrors('credenziali.username')}"
                th:errors="${credenziali.username}" th:style="'color:red'"></span><br>
                
            <span><input type="password" placeholder="password" required
                       th:field="${credenziali.password}"/></span>
            <span th:if="${#fields.hasErrors('credenziali.password')}"
                th:errors="${credenziali.password}" th:style="'color:red'"></span><br>
                
            <span><input type="text" placeholder="nome" required
                       th:field="${utente.nome}"/></span>
            <span th:if="${#fields.hasErrors('utente.nome')}"
                th:errors="${utente.nome}" th:style="'color:red'"></span><br>
                
            <span><input type="text" placeholder="cognome" required
                       th:field="${utente.cognome}"/></span>
            <span th:if="${#fields.hasErrors('utente.cognome')}"
                th:errors="${utente.cognome}" th:style="'color:red'"></span><br>    
			
			<div>
				<button class="button" style="vertical-align:middle" type="submit"><span>Registrati</span></button>
			</div>
	</form>
	</div>
    <footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>